<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<array>
		<dict>
			<key>hex</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>red</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#000000</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#000080</string>
			<key>name</key>
			<string>green</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#89cff0	</string>
			<key>name</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#40e0d0</string>
			<key>name</key>
			<string>magenta</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#008000</string>
			<key>name</key>
			<string>purple</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#90EE90</string>
			<key>name</key>
			<string>black</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#556b2f</string>
			<key>name</key>
			<string>black</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#f5dc28</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#D4AF37</string>
			<key>name</key>
			<string>red</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#ff8c00</string>
			<key>name</key>
			<string>magenta</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#e0218a</string>
			<key>name</key>
			<string>black</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#800080</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#ff2800</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#f4a460</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#A52A2A</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#804000</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#D3D3D3</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>hex</key>
			<string>#A9A9A9</string>
			<key>name</key>
			<string>yellow</string>
		</dict>
	</array>
</dict>
</plist>
